* {
 box-sizing: border-box;
}


body {
  background-color: #fff7ed;
  font-family: 'Inter', sans-serif;
  max-width: 390px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  scrollbar-width: none;
}

header {
  display: flex;
  height: 110px;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.56rem;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

.home-page-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46),
      rgba(0, 0, 0, 0.46)),
      url('./assets/images/landscape.svg') no-repeat center center;
  min-height: 350px;
  background-size: cover;
  color: white;
  padding: 2.8em 1.43em;
}

.home-page-container h1 {
  line-height: 2.62rem;
  font-size: 2.25rem;
}

.home-page-container p {
  font-weight: 400;
  line-height: 1.5rem;
}

.home-page-container .link-button {
  display: inline-block;
  margin: 0.5em 0;
  background-color: #ff8c38;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  line-height: 2rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-page-container {
  color: #161616;
}
.about-hero-image {
  max-width: 100%
}
.about-page-content {
  padding: 1.3em;
}

.about-page-content h1 {
  font-size: 2rem;
  line-height: 2.2rem;
  margin: 0;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #ffcc8d;
  height: 200px;
  padding: 1em;
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
}

.about-page-cta h2 {
  line-height: 2rem;
  margin: 0;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: #ffffff;
  border-radius: 10px;
  width: 170px;
  height: 45px;
  text-decoration: none;
  padding: 0.6em 1em;
  font-weight: 700;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.van-list-container {
  padding-inline: 23px
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;    
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}